<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> My Form </title>
</head>

<body align='center'>

  <header>
    <h1>Login</h1>
  </header>

  <form>
    <fieldset>

      <label>CPF/CNPJ</label>
      <input type="text" id='cpfcnpj' name="cpfcnpj" required>
      <br><br>

      <label>Senha</label>
      <input type="password" id="password" name="password" required>
      <br><br>

      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </fieldset>
  </form>



  <script>
    document.querySelector('form').addEventListener('submit', async (event) => {
      event.preventDefault();

      const formData = {
        cpfcnpj: document.getElementById('cpfcnpj').value,
        password: document.getElementById('password').value,
      };

      const response = await fetch('api/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        credentials:"include",
        body: JSON.stringify(formData),
      });

      const accessToken  = await response.json();

      if (accessToken === "Logged In") {
        window.location.replace('/dashboard');      }
    });
  </script>

</body>

</html>
